body {
	background-color: rgb(95, 193, 245);
	color: #575F7D	
	font-family: 'Lora', serif;
	font-size: 16px
}


h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h1 {
	color: rgb(250, 250, 250);
	font-weight: 900;
	font-size: 20px;
	letter-spacing: 2px;
	font-size: 30px
 }

 h2 {
 	color: #F4E1E4;
	font-weight: 300;
	font-size: 20px;
	font-weight:lighter;
 }

 a {
 	text-decoration: none;
 	color: purple;
 	font-weight: 600;
 	font-size: 16px;
 }

 a:hover {
 	color: yellow;
 }

 .container {
 	width: 700px;
 	margin: 40px auto;
 }

 .card-white {
 	background-color: #6B72E1;
 	padding: 40px;
 	box-shadow: 0px 10px 25px rgba(0,0,0,.1);
 	border-radius: 5px;
 	margin: 20px 0px;
 	text-align: center;
 }

 .img-circle {
   width: 190px;
   height: 190px; 
   border-radius: 70%
 }

 .btn-purple {
	background-color: #474747;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
}

.img-bordered {
	border: 3px solid rgb(240,240,240)
 }

.btn-purple: {
 	background-color: #98231F;
 	color: white;
 	border-radius: 5px;
 }

.btn-purple:hover {
	background-color: #98231F;
 	color: yellow;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 9px;
}

/*Design adjustments using id (1% for remaining) */
#introduction p {
    margin-bottom: 40px;
}

/* Custom design with class (99% of your design) */
.container {
	width: 650px;
	margin: 40px auto;
}

@media (max-width: 700px) {
	.container {
		width: 550px;
		background-color: red;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

